TEST_CONNECTION_STRING=mongodb://testuser:testpassword@replaceme.com/db
TEST_AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=acct;AccountKey=aaaaa;EndpointSuffix=core.windows.net
